<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="stylesheets/main.css">
  </head>
  <body>
    <div class="main">

      <h1>Moovies <img src="images/cow.gif"></h1>

      <form class="" action="/movie_search" method="get">
        <input type="text" name="movie_name" placeholder="Movie Name">
        <button>Send it!</button>
      </form>

      </div>
  </body>
</html>
