<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Compliments</title>
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body style="background-color: <%= bgc %>">

    <main>
      <h1><%= compliment %></h1>
    </main>

    <script src="js/app.js" charset="utf-8"></script>
  </body>
</html>
