<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Stock Ticker</title>
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>

    <h1>Stock Ticker</h1>

    <form action="/stock" method="get">

      <input type="text" name="ticker" placeholder="Stock Symbol">
      <button>Get info</button>

    </form>

  </body>
</html>
