/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 /*
 font-family: 'Carter One', cursive;
 font-family: 'Permanent Marker', cursive;
 font-family: 'Shrikhand', cursive;
 */

* {
  box-sizing: border-box;
}

body {
  background-color: #ff71e6;
  color: black;
  font-size: 125%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1, h2, h3, h4 {
  font-family: 'Carter One', cursive;
  width: 600px;
  text-align: center;
}

.bike_card {
  background-color: #aaf1fa;
  width: 600px;
  margin-bottom: 25px;
}

.bike_card img {
  width: 600px;
}

.bike_card a {
  text-decoration: none;
  color: black;
}

form {
  border: 5px solid white;
  background-color: #aaf1fa;
  width: 600px;
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

form input, button {
  background-color: white;
  border: none;
  height: 20px;
  font-weight: bold;
  font-size: 100%;
}

form input:focus {
  outline: none;
  background-color: #fec6ff;
  transition: .2s ease all;
}

form button {
  font-family: 'Carter One', cursive;
  height: 30px;
}

form span {
  font-family: 'Carter One', cursive;
}
