<div class="grid-container">
  <div class="header">
    <h1>Databa$e manipulation.</h2>
  </div>
  <div class="glow_box">
    <marquee direction="down" height="100vh">&darr; &darr; &darr; M A N I P U L A T I O N &darr; &darr; &darr;</marquee>
  </div>
  <div class="footer">
    <h2><a href="/list">Make a &#162;hange &rarr;</a></h2>
  </div>
</div>
