<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="stylesheets/main.css">
  </head>
  <body>

    <div class="container">
        <p>99 Bottles of <b>Drink&trade;</b> on the wall.</p>
        <a href="/98">Remove one from the place where they are; on the wall.</a>
    </div>

  </body>
</html>
